<p id="notice"><%= notice %></p>

<h1 id="index-header">Entries</h1>

<table class="table">

  <tbody>
    <% @entries.each do |entry| %>
        <tr><td class="table-date"><%= entry.date %></td></tr>
        <tr> <td class="table-quote"><%= entry.quote %></td> </tr>
        <tr> <td class="table-entry"><%= entry.entry %></td> </tr>
        <tr> <td class="table-image"><%= image_tag(entry.image) if entry.image.attached? %></td> </tr>
        <tr> <td class="table-tags"><%= entry.tags %></td> </tr>
        <tr class="crud-div"> 
          <td class="table-show">
            <%= link_to entry do %>
              <%= image_tag "https://www.stickpng.com/assets/images/59cfc4d2d3b1936210a5ddc7.png", class: "crud-icon" %> 
          <% end %>
            </td>
          <td class="table-edit">
            <%= link_to edit_entry_path(entry) do %>
              <%= image_tag "https://icon-library.net/images/icon-edit/icon-edit-29.jpg", class: "crud-icon" %> 
          <% end %>
          <td class="table-destroy">
            <%= link_to entry, method: :delete, data: { confirm: 'Are you sure?'} do %>
              <%= image_tag "https://image.flaticon.com/icons/png/512/25/25008.png", class: "crud-icon" %> 
          <% end %>
        </tr>
        <tr><div class="line"></div></tr>        
    <% end %>
  </tbody>
</table>

<br>
<div class="new-entry-wrapper">
          <%= link_to new_entry_path do %>
            New Entry<%= image_tag "https://cdn3.iconfinder.com/data/icons/relaxation-techniques/256/Keep_a_journal-512.png", class: "new-icon" %> 
          <% end %>
          </div>
