<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @entry.quote %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @entry.entry %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @entry.tags %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
